html {
  font-size: 20px;
}

nav ul {
  background-color: yellow;
  font-size: 0;
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

nav a:hover,
nav a:focus {
  background-color: green;
  color: yellow;
}

nav li {
  display: inline-block;
  color: blue;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  width: 25%;
}

nav a {
  box-sizing: border-box;
  display: inline;
  line-height: 2.5;
  padding: 0 10px;
  text-decoration: none;
  width: 25%;
}
