body, main, figure, figcaption, img {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://d3jtzah944tvom.cloudfront.net/202/images/lesson_3/gradient-background.png);
  background-size: cover;
}

figure {
  box-sizing: border-box;
  margin: 50px 0;
  padding: 0 50px;
  width: 50%;
  display: inline-block;
}

img {
  width: 100%;
}

figcaption {
  text-align: center;
  font-size: 1rem;
}


